.seat-grid {
  display: grid;
  gap: 15px;
}

.seat {
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.seat:hover {
  transform: scale(1.03);
}

.seat-number {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 8px;
}

.student-name {
  font-size: 18px;
}

.yellow-seat {
  background: #facc15;
  color: #222;
}

.blue-seat {
  background: #2563eb;
}

.red-seat {
  background: #dc2626;
}

.empty {
  background: #d1d5db !important;
  color: #666 !important;
}
